// Layout
:root
  // Navigation dimensions
  --nav-width: 80px
  --nav-height: 65px

  // Colors - Theme
  --primary-color: #4bc5e1
  --secondary-color: #04366b
  --text-dark: #555
  --text-light: #fff
  --bg-dark: #000
  --bg-light: #eee

  // Colors - Components
  --content-bgc: var(--bg-light)
  --content-text-color: var(--text-light)
  --content-title-color: var(--text-light)

  --nav-bgc: var(--bg-dark)
  --nav-text-color: var(--text-light)
  --nav-active-text-color: var(--bg-dark)

  --footer-bgc: var(--text-light)
  --footer-text-color: var(--text-dark)

  // Page-specific
  --home-text-color: var(--text-dark)
  --about-timeline-color: var(--secondary-color)
  --about-description-text-size: 18px
  --about-timeline-planet-size: 60px
  --portfolio-card-grid-bgi: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent)
  --portfolio-card-grid-size: 100px 100px
  // Cursors
  --about-cursor-rocket-setting: url('/data/images/about/rocketcursor.png') 0 0, auto
  --about-cursor-aim-setting: url('/data/images/about/focus.png') 32 32, auto

// Animation property
@property --angle
  syntax: '<angle>'
  initial-value: 0deg
  inherits: false
