@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
:root {
  --nav-width: 80px;
  --nav-height: 65px;
  --primary-color: #4bc5e1;
  --secondary-color: #04366b;
  --text-dark: #555;
  --text-light: #fff;
  --bg-dark: #000;
  --bg-light: #eee;
  --content-bgc: var(--bg-light);
  --content-text-color: var(--text-light);
  --content-title-color: var(--text-light);
  --nav-bgc: var(--bg-dark);
  --nav-text-color: var(--text-light);
  --nav-active-text-color: var(--bg-dark);
  --footer-bgc: var(--text-light);
  --footer-text-color: var(--text-dark);
  --home-text-color: var(--text-dark);
  --about-timeline-color: var(--secondary-color);
  --about-description-text-size: 18px;
  --about-timeline-planet-size: 60px;
  --portfolio-card-grid-bgi: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  --portfolio-card-grid-size: 100px 100px;
  --about-cursor-rocket-setting: url("/data/images/about/rocketcursor.png") 0 0, auto;
  --about-cursor-aim-setting: url("/data/images/about/focus.png") 32 32, auto;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
aside {
  width: var(--nav-width);
  height: 100%;
  position: fixed;
  background-color: var(--nav-bgc);
  z-index: 9999;
  transition: all 0.2s ease-in-out;
  overflow-x: hidden;
  cursor: pointer;
}
aside ul.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0;
  position: relative;
}
aside ul.nav .active-indicator {
  width: 100%;
  height: 65px;
  position: absolute;
  left: 0;
  background-color: #eee;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: top 0.3s ease-in-out;
  z-index: -1;
}
aside li {
  width: 100%;
  height: var(--nav-height);
  padding: 20px;
  position: relative;
  left: 5px;
  font-size: 22px;
  text-align: center;
  transition: all 0.3s ease;
}
aside li .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--nav-text-color);
}
aside li .icon i {
  margin-right: 10px;
}
aside li .icon .text {
  display: none;
}
aside li.active {
  background-color: transparent;
}
aside li.active a, aside li.active i, aside li.active .text {
  color: var(--nav-active-text-color);
}
aside li#logo {
  margin-left: -8px;
  transition: all 0.3s ease;
}
aside li#logo a {
  font-weight: bolder;
  color: var(--nav-text-color);
  letter-spacing: 1px;
}
aside li#logo.active a {
  color: var(--nav-active-text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body, html {
  position: relative;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--content-bgc);
  font-size: 22px;
  font-family: "Righteous", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

section#content {
  width: calc(100% - var(--nav-width));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--content-text-color);
}

section .page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  inset: 0;
  padding-top: var(--nav-width);
  padding-left: calc(var(--nav-width) * 2 + 50px);
  padding-right: 50px;
}
section .page h1.title {
  color: var(--content-title-color);
}

footer {
  position: fixed;
  height: 15px;
  bottom: 0;
  width: 100%;
  background-color: var(--footer-bgc);
  text-align: center;
  color: var(--footer-text-color);
  font-size: 12px;
}

#home {
  width: 100%;
  height: 100vh;
  display: flex;
  color: var(--home-text-color);
}
#home .mainwrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#home .mainwrap h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
}
#home .mainwrap h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}
#home .imgwrap img {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

#about {
  background-image: url("/data/images/about/about.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  cursor: var(--about-cursor-rocket-setting);
}
#about h1.title {
  margin-bottom: 100px;
}
#about ul.timeline {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 80px;
  display: flex;
}
#about ul.timeline .line-gradient {
  position: absolute;
  display: block;
  top: calc(-1 * var(--about-timeline-planet-size) / 2);
  width: 100%;
  height: 100%;
  margin: 20px 0;
  overflow: hidden;
}
#about ul.timeline .line-gradient::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 10px;
  background: conic-gradient(from var(--angle), var(--secondary-color), var(--primary-color), var(--secondary-color));
  animation: lineSlip 3s linear infinite;
}
#about li.item {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: auto;
  top: -30px;
  left: calc(var(--i) * 200px);
  text-align: center;
}
#about li.item .planet {
  width: var(--about-timeline-planet-size);
  height: var(--about-timeline-planet-size);
  background-image: url("/data/images/about/planet.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  cursor: var(--about-cursor-aim-setting);
  animation: spin 20s linear infinite;
}
#about .description {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/data/images/about/descBg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  display: none;
  left: 50%;
  bottom: -500px;
  animation: spaceshipUp 1s ease-out forwards;
  transform: translateX(-50%);
  color: var(--primary-color);
  font-size: var(--about-description-text-size);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 10000;
}
#about .description li {
  list-style: decimal;
  font-size: 1.3rem;
}

@keyframes spaceshipUp {
  from {
    bottom: -400px;
    opacity: 0;
  }
  to {
    bottom: -20px;
    opacity: 1;
  }
}
@keyframes spaceshipDown {
  from {
    bottom: -20px;
    opacity: 1;
  }
  to {
    bottom: -400px;
    opacity: 0;
  }
}
@keyframes lineSlip {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#skills {
  position: relative;
}
#skills h1.title {
  position: absolute;
  top: -100px;
  animation: h1dropdown 2s ease 0.5s forwards;
}
#skills .skillsBox {
  position: absolute;
  top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 80%;
  height: auto;
  transform-origin: center calc(100% + 350px);
  animation: boxWave 1.25s ease-in-out 3s forwards;
  opacity: 0;
}
#skills .astronaut {
  position: absolute;
  width: 110%;
  height: 100%;
  background-image: url("/data/images/skills/skills.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 100%;
  inset: 0;
  z-index: -2;
  animation: dropdown 2s ease 0.5s forwards;
}
#skills .hand {
  position: absolute;
  width: 100vw;
  height: 100vw;
  background-image: url("/data/images/skills/rightHand.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  right: 0;
  top: 100%;
  z-index: 10000;
  transform: rotate(-30deg);
  transform-origin: bottom center;
  animation: handup 2s ease-in-out 2s forwards, handWave 2s ease-in-out 3s forwards;
}
#skills ul.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#skills ul.icons li.item {
  margin-right: 15px;
}
#skills ul.icons li.item img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
#skills .skillsPic {
  width: 500px;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes h1dropdown {
  from {
    top: -100px;
  }
  to {
    top: var(--nav-width);
  }
}
@keyframes dropdown {
  from {
    background-position: center 100%;
  }
  to {
    background-position: center 0%;
  }
}
@keyframes handup {
  from {
    top: 100%;
  }
  to {
    top: -10%;
  }
}
@keyframes handWave {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(65deg);
  }
}
@keyframes boxWave {
  from {
    transform: rotate(-90deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}
#portfolio {
  background-image: url("/data/images/portfolio/portfolio.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
#portfolio .nextBtn, #portfolio .prevBtn {
  font-size: 50px;
  position: fixed;
  color: #8e7c65;
  border-radius: 50%;
  cursor: pointer;
}
#portfolio .nextBtn:active, #portfolio .prevBtn:active {
  color: #695c4b;
  bottom: 75px;
}
#portfolio .nextBtn {
  right: 80px;
  bottom: 80px;
}
#portfolio .prevBtn {
  left: calc(var(--nav-width) + 80px);
  bottom: 80px;
}
#portfolio .showcase {
  position: relative;
  width: 100%;
  display: flex;
  margin: 10px 40px;
  perspective: 1000px;
  margin-left: 100px;
}
#portfolio .showcase .projectCard {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right top, #323b7d, #777eb3);
  border: 3px solid black;
  padding: 30px 40px;
  border-radius: 20px;
  height: auto;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5), inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
  z-index: calc(1000 - var(--i));
  transform-origin: center center;
  overflow: hidden;
  cursor: pointer;
}
#portfolio .showcase .projectCard::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--portfolio-card-grid-bgi);
  background-size: var(--portfolio-card-grid-size);
  pointer-events: none;
  z-index: 1;
}
#portfolio .showcase .projectCard img, #portfolio .showcase .projectCard .title, #portfolio .showcase .projectCard .desc {
  position: relative;
  z-index: 2;
}
#portfolio .showcase .projectCard img {
  width: clamp(400px, 50vw, 1200px);
  height: clamp(350px, 50vh, 1000px);
  -o-object-fit: contain;
     object-fit: contain;
}

#contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(/data/images/contact/contactBg.png);
  background-size: cover;
  background-position: center 85%;
  background-repeat: no-repeat;
}
#contact::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle 6em at var(--x) var(--y), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  pointer-events: none;
}
#contact h1.title {
  position: fixed;
  z-index: 9999;
}
#contact #info {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  color: var(--primary-color);
  font-size: 50px;
  text-align: center;
  pointer-events: none;
  text-shadow: 0 0 8px var(--primary-color);
  z-index: 9999;
}
#contact .container {
  width: 100%;
  height: auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}
#contact .container li {
  --x: 0;
  --y: 0;
  --opacity: 0;
  width: 320px;
  height: 270px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(var(--h) * 320px);
  left: calc(var(--i) * 220px + 120px);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
}
#contact .container li a {
  width: 60%;
  height: 90%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
#contact .container li:hover {
  opacity: 1;
}
#contact .container li::after {
  font-weight: bold;
  content: "點擊複製";
  position: fixed;
  font-size: 12px;
  background-color: #444;
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
  opacity: var(--opacity);
  pointer-events: none;
  left: var(--x);
  top: var(--y);
  transform: translate(10px, 10px);
  transition: opacity 0.2s ease;
  z-index: 9999;
}
#contact .container li:nth-child(4)::after {
  content: "點擊前往";
}
#contact .container li:nth-child(5)::after {
  content: "點擊下載PDF";
}